In [1]:
import pandas as pd

In [2]:
import pickle as pk

In [3]:
df = pd.read_csv('data.csv')

In [4]:
df.head()

,Career,Description,Qualification,Skills,Interest,Hobby
0,Software Engineer,"Designs, develops, and tests software applicat...",Bachelor's in Computer Science,"Programming, Algorithms, Debugging","Technology, Problem-solving",Coding side projects
1,Registered Nurse,Provides patient care in healthcare settings,Bachelor of Science in Nursing,"Patient assessment, Medication administration","Helping others, Medicine","Health blogging, Yoga"
2,Graphic Designer,Creates visual concepts for communications,Bachelor's in Graphic Design,"Adobe Creative Suite, Typography","Creativity, Art","Digital illustration, Photography"
3,Data Analyst,Interprets complex data to inform decisions,Bachelor's in Statistics,"Excel, SQL, Data visualization","Analytics, Patterns","Puzzle games, Data competitions"
4,Elementary Teacher,Educates children in foundational subjects,Bachelor's in Education + Teaching License,"Curriculum planning, Classroom management","Teaching, Child development","Educational blogging, Tutoring"

In [5]:
def split(obj):
    if '+' in obj:
        return obj.split('+')
    elif '/' in obj:
        return obj.split('/')
    elif ',' in obj:
        return obj.split(',')
    else:
        return [obj]

In [6]:
def strip(lst):
    l=[]
    for i in lst:
        if ',' in i:
            l.append(i.strip(','))
        else:
            l.append(i.strip())
    return l

In [7]:
df["Qualification"] = df["Qualification"].apply(split)

In [8]:
df["Qualification"] = df["Qualification"].apply(strip)

In [9]:
df.head()

,Career,Description,Qualification,Skills,Interest,Hobby
0,Software Engineer,"Designs, develops, and tests software applicat...",[Bachelor's in Computer Science],"Programming, Algorithms, Debugging","Technology, Problem-solving",Coding side projects
1,Registered Nurse,Provides patient care in healthcare settings,[Bachelor of Science in Nursing],"Patient assessment, Medication administration","Helping others, Medicine","Health blogging, Yoga"
2,Graphic Designer,Creates visual concepts for communications,[Bachelor's in Graphic Design],"Adobe Creative Suite, Typography","Creativity, Art","Digital illustration, Photography"
3,Data Analyst,Interprets complex data to inform decisions,[Bachelor's in Statistics],"Excel, SQL, Data visualization","Analytics, Patterns","Puzzle games, Data competitions"
4,Elementary Teacher,Educates children in foundational subjects,"[Bachelor's in Education, Teaching License]","Curriculum planning, Classroom management","Teaching, Child development","Educational blogging, Tutoring"

In [10]:
df["Skills"] = df["Skills"].apply(split)

In [11]:
df["Skills"] = df["Skills"].apply(strip)

In [12]:
df.head()

,Career,Description,Qualification,Skills,Interest,Hobby
0,Software Engineer,"Designs, develops, and tests software applicat...",[Bachelor's in Computer Science],"[Programming, Algorithms, Debugging]","Technology, Problem-solving",Coding side projects
1,Registered Nurse,Provides patient care in healthcare settings,[Bachelor of Science in Nursing],"[Patient assessment, Medication administration]","Helping others, Medicine","Health blogging, Yoga"
2,Graphic Designer,Creates visual concepts for communications,[Bachelor's in Graphic Design],"[Adobe Creative Suite, Typography]","Creativity, Art","Digital illustration, Photography"
3,Data Analyst,Interprets complex data to inform decisions,[Bachelor's in Statistics],"[Excel, SQL, Data visualization]","Analytics, Patterns","Puzzle games, Data competitions"
4,Elementary Teacher,Educates children in foundational subjects,"[Bachelor's in Education, Teaching License]","[Curriculum planning, Classroom management]","Teaching, Child development","Educational blogging, Tutoring"

In [13]:
df["Interest"] = df["Interest"].apply(split)

In [14]:
df["Interest"] = df["Interest"].apply(strip)

In [15]:
df.head()

,Career,Description,Qualification,Skills,Interest,Hobby
0,Software Engineer,"Designs, develops, and tests software applicat...",[Bachelor's in Computer Science],"[Programming, Algorithms, Debugging]","[Technology, Problem-solving]",Coding side projects
1,Registered Nurse,Provides patient care in healthcare settings,[Bachelor of Science in Nursing],"[Patient assessment, Medication administration]","[Helping others, Medicine]","Health blogging, Yoga"
2,Graphic Designer,Creates visual concepts for communications,[Bachelor's in Graphic Design],"[Adobe Creative Suite, Typography]","[Creativity, Art]","Digital illustration, Photography"
3,Data Analyst,Interprets complex data to inform decisions,[Bachelor's in Statistics],"[Excel, SQL, Data visualization]","[Analytics, Patterns]","Puzzle games, Data competitions"
4,Elementary Teacher,Educates children in foundational subjects,"[Bachelor's in Education, Teaching License]","[Curriculum planning, Classroom management]","[Teaching, Child development]","Educational blogging, Tutoring"

In [16]:
df["Hobby"] = df["Hobby"].apply(split)

In [17]:
df["Hobby"] = df["Hobby"].apply(strip)

In [18]:
df.head()

,Career,Description,Qualification,Skills,Interest,Hobby
0,Software Engineer,"Designs, develops, and tests software applicat...",[Bachelor's in Computer Science],"[Programming, Algorithms, Debugging]","[Technology, Problem-solving]",[Coding side projects]
1,Registered Nurse,Provides patient care in healthcare settings,[Bachelor of Science in Nursing],"[Patient assessment, Medication administration]","[Helping others, Medicine]","[Health blogging, Yoga]"
2,Graphic Designer,Creates visual concepts for communications,[Bachelor's in Graphic Design],"[Adobe Creative Suite, Typography]","[Creativity, Art]","[Digital illustration, Photography]"
3,Data Analyst,Interprets complex data to inform decisions,[Bachelor's in Statistics],"[Excel, SQL, Data visualization]","[Analytics, Patterns]","[Puzzle games, Data competitions]"
4,Elementary Teacher,Educates children in foundational subjects,"[Bachelor's in Education, Teaching License]","[Curriculum planning, Classroom management]","[Teaching, Child development]","[Educational blogging, Tutoring]"

In [19]:
pk.dump(df,open('item.pkl','wb'))

In [20]:
import streamlit as st
import numpy as np
import sklearn as sl
import nltk as nl
import pickle as pk

In [21]:
import pandas as pd

In [22]:
print('numpy',np.__version__)
print('streamlit',st.__version__)
print('sklearn',sl.__version__)
print('nltk',nl.__version__)
print('pandas',pd.__version__)

numpy 2.2.1
streamlit 1.46.1
sklearn 1.7.0
nltk 3.9.1
pandas 2.3.0

In [25]:
import json

# Input and output file paths
ldjson_file = "decsription.ldjson"
json_file = "description.json"

# Read the LDJSON file and convert to JSON
with open(ldjson_file, "r") as infile:
    data = [json.loads(line) for line in infile]

# Write the data to a JSON file
with open(json_file, "w") as outfile:
    json.dump(data, outfile, indent=4)

print(f"Converted LDJSON to JSON and saved as {json_file}")

UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 398: character maps to <undefined>